{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
        {% if genre %}
         {% for b in genre.items %}
        <div class="col-md-3 mt-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + b.image)}}" class="card-img-top" alt="{{b.name}}" height="400" width="200">
                <div class="card-body">
                  <h5 class="text-center">{{b.name}}</h5>
                  <p class="text-center">Автор {{b.author}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page',id=b.id)}}" class="float-left btn btn-sm btn-primary">Детали</a>
                    <form action="{{url_for('AddFav')}}" method="post">
                      <input type="hidden" name="product_id" value="{{b.id}}">
                      <button type="submit" class="btn btn-sm btn-warning float-right">В Избранное</button>
                  </form>
                </div>
            </div>
          </div>
        {% endfor %}
    </div>
    
    <div class="row mt-4">
      <div class="col text-center">
        {% if genre.has_prev %}
          <a href="{{url_for('get_genre',id=get_genre.id, page=genre.prev_num)}}"class="btn btn-sm btn-outline-info">Предыдущая</a>
        {% endif %}
        {% if genre.total > 8 %}
       {% for page_num in genre.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
       {% if page_num %}
         {% if genre.page == page_num %}
         <a href="{{url_for('get_genre',id=get_genre.id, page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
         {% else %}
         <a href="{{url_for('get_genre',id=get_genre.id, page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
          {% endif %}
        {% else %}
        ...
        {% endif %}
       {% endfor %}
       {% endif %}
       {% if genre.has_next %}
       <a href="{{url_for('get_genre',id=get_genre.id, page=genre.next_num)}}"class="btn btn-sm btn-outline-info">Следующая</a>
     {% endif %}
      </div>
    </div>
    <div class="row">
        {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod.items %}
        <div class="col-md-3 mt-4">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + get_cat.image)}}" class="card-img-top" alt="{{get_cat.name}}" height="400" width="200">
                <div class="card-body">
                  <h5 class="text-center">{{get_cat.name}}</h5>
                  <p class="text-center">Автор: {{get_cat.author}}</p>
                </div>
                <div class="card-footer">
                    <a href="{{url_for('single_page', id=get_cat.id)}}" class="float-left btn btn-sm btn-primary">Детали</a>
                    <form action="{{url_for('AddFav')}}" method="post">
                      <input type="hidden" name="product_id" value="{{get_cat.id}}">
                      <button type="submit" class="btn btn-sm btn-warning float-right">В Избранное</button>
                  </form>
                </div>
            </div>
          </div>

        {% endfor %}
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          {% if get_cat_prod.has_prev %}
            <a href="{{url_for('get_category',id=get_cat.id, page=get_cat_prod.prev_num)}}"class="btn btn-sm btn-outline-info">Пердыдущая</a>
          {% endif %}
          {% if get_cat_prod.total > 8 %}
         {% for page_num in get_cat_prod.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
         {% if page_num %}
           {% if get_cat_prod.page == page_num %}
           <a href="{{url_for('get_category',id=get_cat.id, page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
           {% else %}
           <a href="{{url_for('get_category',id=get_cat.id, page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
         {% endfor %}
         {% endif %}
         {% if get_cat_prod.has_next %}
         <a href="{{url_for('home', page=get_cat_prod.next_num)}}"class="btn btn-sm btn-outline-info">Следующая</a>
       {% endif %}
        </div>
      </div>

      <div class="row">
         {% else %}
        {% for product in products.items %}
      <div class="col-md-3 mt-4">
        <div class="card">
            <img src="{{url_for('static', filename='images/' + product.image)}}" class="card-img-top" alt="{{product.name}}" height="400" width="200">
            <div class="card-body">
              <h5 class="text-center">{{product.name}}</h5>
              <p class="text-center">Автор: {{product.author}}</p>
            </div>
            <div class="card-footer">
                <a href="{{url_for('single_page',id=product.id)}}" class="float-left btn btn-sm btn-primary">Детали</a>
                <form action="{{url_for('AddFav')}}" method="post">
                  <input type="hidden" name="product_id" value="{{product.id}}">
                  <button type="submit" class="btn btn-sm btn-warning float-right">В Избранное</button>
              </form>
            </div>
        </div>
      </div>
        {% endfor %}
      </div>

      <div class="row mt-4">
        <div class="col text-center">
          {% if products.has_prev %}
            <a href="{{url_for('home', page=products.prev_num)}}"class="btn btn-sm btn-outline-info">Предыдущая</a>
          {% endif %}
          {% if products.total> 8 %}
         {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1,right_current=2) %}
         {% if page_num %}
           {% if products.page == page_num %}
           <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-info">{{page_num}}</a>
           {% else %}
           <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-outline-info">{{page_num}}</a>
            {% endif %}
          {% else %}
          ...
          {% endif %}
         {% endfor %}
         {% endif %}
         {% if products.has_next %}
         <a href="{{url_for('home', page=products.next_num)}}"class="btn btn-sm btn-outline-info">Следующая>
       {% endif %}
        </div>
      </div>

        {% endif %}
    </div>
</div>
{% endblock content %}