{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="b_image">
            <img src="{{url_for('static',filename='images/' + product.image)}}" alt="{{product.name}}" width="400" height="600">
        </div>
        <div class="col-md-6">
            <h4>Название: {{product.name}} </h4>

            <p>Автор: {{product.author}} </p>
            <hr>
            <b>Описание</b>
            <p>{{product.desc}}</p>
            <form action="{{url_for('AddFav')}}" method="post">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit" class="btn btn-sm btn-warning">Добавить в Избранное</button>
            </form>
</div>

<script>
   var b_image = document.getElementById('b_image');
   var s_image = document.getElementById('s_image').getElementsByTagName('img');
    for(var i = 0; i < s_image.length; i++){

        s_image[i].addEventListener('click', full_image);
    }
    function full_image(){
        var ImageSRC = this.getAttribute('src');
        b_image.innerHTML = "<img src=" + ImageSRC + " width='400' height='400'>";
    }
</script>
{% endblock content %}